.blood-donation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFE5CA;
    background-image: url('../images/back2.png'); /* Use the same background image or another */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

.blood-donation-form h2 {
    font-family: 'Space Mono', monospace;
    color: #000;
}



.form-section1 {
    width: 50vw;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;

}
label {
    color: #FA9884;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
}

input, select {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FA9884;
    width: 100%;
    font-family: 'Space Mono', monospace;
}

button {
    background-color: #E74646;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
}

button:hover {
    background-color: #D83D3D; /* Darker shade for hover effect */
}

@media (max-width: 768px) {
    .blood-donation-form {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    form {
        width: 100%; /* Full width for smaller screens */
    }
}
