@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFE5CA;
    background-image: url('../images/back.png'); 
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed; 
}

.signup-container {
  display: flex;
  width: 80%;
  height: 80vh;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Prevent overflow issues */
}


.form-section {
  width: 50%;
  padding: 30px;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9); 
}

.image-section {
  width: 50%;
  background-color: rgb(223, 215, 215,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

h2 {
  text-align: center;
  color: #E74646;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
}

label {
  color: #FA9884;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
}
.signup-page input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #FA9884;
  width: 36vw;
  font-family:'Space Mono', monospace ; 
}

button {
  background-color: #E74646;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
}

button:hover {
  background-color: #FA9884;
}

p {
  text-align: center;
  margin-top: 20px;
  font-family: 'Space Mono', monospace;
}

p a {
  color: #E74646;
  text-decoration: none;
  
}

p a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .image-section {
    display: none;
  }

  .form-section {
    width: 100%; 
  }
}